<h1>Uso de web workers</h1>
<p>Introduce un número entero :<input type="text" id="numLimite"></p>
<button id="btnPrimosNoWW">Generar sin WW</button><br><br>
<button id="btnPrimosSiWW">Generar con WW</button><br><br>

<input type="checkbox">Marcar

<div id="resultado"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript">

	$(document).ready(function(){

		$("#btnPrimosNoWW").click(function(){

			$("#resultado").html=" ";

			var numLimite=$("#numLimite").val();

			$("#resultado").html("No WW: "+obtenerPrimos(numLimite));

		})


		$("#btnPrimosSiWW").click(function(){

			$("#resultado").html=" ";

			if(typeof(Worker)!=="undefined"){
			
			alert("Web workers habilitados");

			var worker=new Worker("/js/calculos.js");
			var numLimite=$("#numLimite").val();
			worker.postMessage(numLimite);

			worker.onmessage=function(event){

				$("#resultado").html("Si WW: "+event.data);

			}

			worker.onerror=function(event){
				
				var mensaje="Mensaje de error \n";
				mensaje=mensaje.concat("Archivo: ",event.filename,"\n",
									   "Linea: ",event.lineno,"\n",
									   "Mensaje: ",event.message);

				alert(mensaje);	
			}

			}else{
				alert("Web workers NO habilitados");
			}

		})


		function obtenerPrimos(numLimite){

			var numPrimos="";
			for (var i = 0;i<= numLimite; i++) {
				if(esPrimo(i)){
					numPrimos+=i+" ";
				}
			};

			return numPrimos;
		}

		function esPrimo(num){

			if(num<2){
				return false;
			}else{
				var raiz=Math.sqrt(num);
				for (i =2; i <= raiz; i++) {
					if(num%i==0) return false	
				}
			};

			return true;

		}
			
	})

</script>